body {
  background-color: #eee;
}
header{
  position:fixed;
  display:flex;
  justify-content:space-between;
  top:0px;
  left:0px;
  height:90px;
  width:100%;
  background-color:gold;
  /*display: none*/;
}
header a {
  text-decoration: none;
  color: black;
}

#logo {
  display: inline-block;
  width: auto;
  height: 6vw;
  border-radius:6vw;
  position: relative;
  animation: moveIn 1s;
}
#logo_text{
  margin: -0px;
  margin-top: -20px;
}
#header-img{
  display: inline-block;
  width: auto;
  height: 6vw;
  border-radius:6vw;
  margin: -0px;
}

main {
  height: 100%;
  width:100%;
  display: inline-block;
  margin-top: 6vw;
  
}
#menu_box {
  float: left;
  width: 28%;
  height: 100%;
  display:flex;
  flex-direction:column;
  border: green solid;
  position: relative;
  /**/
  transform: translateX(-300px);
  
}
#menu_box:hover{
  transition: transform 1s;
  transform: translateX(0px);
}

#main_space {
  display: inline-block;
  background-color: silver;
  height: 100%;
  width: 68%;
}
#buttons {
  display:flex;
}
button{
  float: left;
  width:80px;
  height: 30px;
  border-radius:20px;
  background-color:lawngreen;
}
button:hover {
    background-color:yellow;
    transition: background-color 1s;
  }
#content{
  display: inline-block;
  width: 90%;
  height: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
}
#search_form{
  display:flex;
  justify-content:space-between;
  background-color:white;
  border: 2px solid gold;
  border-radius:20px;
  height: 40px;

}
.select_box{
  display:flex;
  flex-direction:row;
}
#overflow{
  width: 200px;
  height: 50px;
  background-color: rgb(185, 14, 14);
  overflow: scroll;
}
.travel_div{
  background-color:white;
  border: 2px solid gold;
  border-radius:20px;
  height: 40px;
}
.travel_list{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
/*
.five {
  width: 100px;
  height: 100px;
  background-color: #E0CABB;
  margin: 0 auto;
  position: relative;
  left: 50px;
}
.five:hover {
  left: -50px;
*/
@keyframes moveIn {
  from{
    transform: translateX(-500px) ;
  }
  to{
    transform: translateX(0px)
  }
}
@keyframes menu_moveIn {
  from{
    transform: translateX(-300px) ;
  }
  to{
    transform: translateX(0px)
  }
}
